.side_menu_configs{
  display: flex;
  flex-direction: column;
  place-items: center;

  padding: 1.5rem;

  position: fixed;
  top: 0rem;
  right: 0rem; 

  background-color: var(--bg_0);
  border-radius: 0 0 0rem 1rem;
}

.side_menu_button{
  all: unset;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;

  padding: 0.1rem;
  cursor: pointer;
}

.upload_img_button,
.upload_conf_button{
  all: unset;

  display: flex;
  justify-content: center;
  place-items: center;

  width: 100%; 

  color: var(--text);
  font-size: 1.5rem;

  /* border-radius: 1rem; */
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  gap: 0.5rem;
}

.load_config_container{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%; 

}

@media (max-width: 600px) {
  .side_menu_configs, 
  .corners_common
  {
    display: none;
  }
}

